.input1 {
  width: 80%;
  height: 45px;
  border: solid 1px #6c93ba;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  color: #223461;
  font-weight: 500;
  margin: 0 10px;
}

.input1:focus {
  border-color: #6c93ba;
  box-shadow: inset 0 0 3px #6c93ba;
}
.input2 {
  width: 90%;
  height: 45px;
  border: solid 1px #6c93ba;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  color: #223461;
  font-weight: 500;
  margin: 0 10px;
}

.input2:focus {
  border-color: #6c93ba;
  box-shadow: inset 0 0 3px #6c93ba;
}
button {
  background: #6c93ba;
  padding: 5px 35px;
  border: none;
  color: #fff;
  font-weight: 600;
  width: 150px;
  margin: 0px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.wrap1 {
  border-radius: 25px;
  border: 2px solid #6c93ba;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  margin-bottom: 10px;
  padding: 0 5%;
}
