body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #6c93ba;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
.input {
  width: 90%;
  height: 45px;
  border: solid 1px #6c93ba;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  color: #223461;
  font-weight: 500;
  margin: 0 50px;
}

.input:focus {
  border-color: #6c93ba;
  box-shadow: inset 0 0 3px #6c93ba;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul {
  background: white;
  border-left: 1px solid #3333;
  border-right: 1px solid #3333;
  border-top: 1px solid white;
}
#myUL li {
  /* border: 1px solid #ddd; */
  /* margin-top: -1px; Prevent double borders  */
  background-color: transparent;
  padding: 12px;
  margin-right: 10px;
  font-size: 14px;
  color: black;
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  /* border: 1px solid black; */
}

#myUL li:hover:not(.header) {
  color: white;
  background-color: rgba(6, 147, 227, 1);
  margin-right: -25px;
  border-top: 1px solid #3333;

  /* border: 1px solid black; */
}

.form-control {
  width: 90% !important;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  /* border-color: #86b7fe; */
  outline: 0;
  box-shadow: none;
}
.err {
  color: red;
  font-size: 12px;
  margin-left: 50px;
}
.px {
  padding-right: 1.5rem !important;
  /* padding-left: 1.5rem !important; */
}
.mx-5 {
  margin-right: 4.6rem !important;
  margin-left: 3.1rem !important;
}
.div {
  background-color: white;
  /* border-bottom: 1px solid black; */
}
.div:focus {
  display: none;
}
span a {
  margin: 10%;
  display: table-row;
  margin: 0 0 10px;
  color: #6c93ba;
  text-decoration: underline;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}
.ag {
  margin-left: 45px;
}

@media (max-width: 767px) {
  #rcorners2 {
    border-radius: 19px;
    border: 2px solid #6c93ba;
    margin: 0 10%;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  .input {
    width: 70%;
    height: 45px;
    border: solid 1px #6c93ba;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    color: #223461;
    font-weight: 500;
    margin: 0 45px;
  }

  .input:focus {
    border-color: #6c93ba;
    box-shadow: inset 0 0 3px #6c93ba;
  }
  .h4 {
    font-size: 20px;
  }
  .img {
    height: 31px;
  }
}
